@model List<RekrutacjaApp.Dtos.UserDto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nowy użytkownik</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3" method="post" asp-action="CreateUser" asp-controller="Home">
                    <div class="col-md-6">
                        <label for="Name" class="form-label">Imię</label>
                        <input type="text" class="form-control" id="Name" name="Name" placeholder="Imię..." required>
                      </div>
                      <div class="col-md-6">
                        <label for="Surname" class="form-label">Nazwisko</label>
                        <input type="text" class="form-control" id="Surname" name="Surname" placeholder="Nazwisko..." required>
                      </div>
                      <div class="col-md-6">
                        <label for="validationServer03" class="form-label">Date urodzenia</label>
                        <input type="date" class="form-control" id="validationServer03" name="BirthDate" aria-describedby="validationServer03Feedback" required>
                      </div>
                      <div class="col-md-6">
                        <label for="validationServer04" class="form-label">Płeć</label>
                        <select class="form-select" aria-label="Default select example" name="Gender">
                            <option selected value="Mężczyzna">Mężczyzna</option>
                            <option value="Kobieta">Kobieta</option>
                        </select>
                      </div>
                    <div class="col-md-10">
                        <label for="validationServer04" class="form-label">Prawo jazdy</label>
                        <select class="form-select" aria-label="Default select example" name="CarLicense">
                            <option selected disabled>Prawo jazdy</option>
                            <option value="true">Tak</option>
                            <option value="false">Nie</option>
                        </select>
                    </div>

                      <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                      </div>
                    </form>
            </div>

        </div>
    </div>
</div>

<div class="row justify-content-between">     
    
        <form asp-controller="Home" asp-action="GenerateRaport" method="post" class="col">
            <button type="submit"  class="btn btn-outline-warning" style="margin:10px 0px 10px 0px">
                Wygeneruj raport
            </button>
            <button type="button" class="btn btn-outline-success" style="margin:10px 0px 10px 0px" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Dodaj użytkownika
            </button>
        </form>


     
    <div class="col-3">
        <form class="d-flex" role="search" method="get" asp-action="Index" asp-controller="Home"  >
            <button class="btn btn-outline-success" style="margin:10px 10px 10px 10px" type="submit">Szukaj</button>
            <input class="form-control me-2" style="margin:10px 0px 10px 0px" type="search" name="SearchString" placeholder="Nazwa" aria-label="Search">          
        </form>
    </div>
</div>


    <form asp-controller="Home" asp-action="Index" method="get" class="row justify-content-start">
    <div class="col-1">
            <button type="submit" class="btn btn-secondary">
                Filtruj
            </button>
    </div>
    <div class="col-md-2">
        <select class="form-select" aria-label="Default select example" name="Gender">
            <option selected disabled>Wybierz płeć</option>
            <option value="Mężczyzna">Mężczyzna</option>
            <option value="Kobieta">Kobieta</option>
        </select>
    </div>

    <div class="col-md-2">
        <select class="form-select" aria-label="Default select example" name="CarLicense">
            <option selected disabled>Prawo jazdy</option>
            <option value="true">Tak</option>
            <option value="false">Nie</option>
        </select>
    </div>

    <div class="col-md-2">
        <select class="form-select" aria-label="Default select example" name="SortOrder">
            <option selected disabled>Sortuj według</option>
            <option value="name">Imię</option>
            <option value="surname">Nazwisko</option>
        </select>
    </div>
    </form>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Imie i Nazwisko</th>
            <th scope="col">Data urodzenia</th>
            <th scope="col">Wiek</th>
            <th scope="col">Płeć</th>
            <th scope="col">Prawo jazdy</th>
            <th scope="col">Dodatkowe attrybuty</th>

        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                <th scope="row"><a asp-action="Details" asp-controller="Home" asp-route-id="@user.UserId">@user.DisplayName</a></th>
                <td>@user.BirthDate.ToShortDateString()</td>
                <td>@user.Age</td>
                <td>@user.Gender</td>
                @if (@user.CarLicense)
                {
                    <td>Tak</td>
                }
                else
                {
                    <td>Nie</td>
                }
                <td>@user.CustomAttributes.Count()</td>
                
            </tr>
        }      
    </tbody>
</table>
