@model List<RekrutacjaApp.Dtos.UserDto>
@{
    ViewData["Title"] = "Home Page";
}




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Nowy użytkownik</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="row g-3">
                    
    

                      <div class="col-md-4">
                        <label for="Name" class="form-label">Imię</label>
                        <input type="text" class="form-control is-valid" id="Name" placeholder="Imię..." required>
                        <div class="valid-feedback">
                          Looks good!
                        </div>
                      </div>
                      <div class="col-md-5">
                        <label for="Surname" class="form-label">Nazwisko</label>
                        <input type="text" class="form-control is-valid" id="Surname" placeholder="Nazwisko..." required>
                        <div class="valid-feedback">
                          Looks good!
                        </div>
                      </div>
                      <div class="col-md-5">
                        <label for="validationServer03" class="form-label">Date urodzenia</label>
                        <input type="date" class="form-control is-invalid" id="validationServer03" aria-describedby="validationServer03Feedback" required>
                        <div id="validationServer03Feedback" class="invalid-feedback">
                          Please provide a valid city.
                        </div>
                      </div>
                      <div class="col-md-5">
                        <label for="validationServer04" class="form-label">Płeć</label>
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected value="1">Mężczyzna</option>
                                                <option value="2">Kobieta</option>
                                                <option value="3">Inne</option>
                                            </select>
                      </div>


                    <div class="col-md-4">
                        <label for="Name" class="form-label">Cecha</label>
                        <input type="text" class="form-control is-valid" id="Name" placeholder="Nazwa cechy..." required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label for="Surname" class="form-label">Wartość</label>
                        <input type="text" class="form-control is-valid" id="Surname" placeholder="..." required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                      <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                      </div>
                    </form>
            </div>

        </div>
    </div>
</div>

<div class="row justify-content-between">

        
        <div class="col">
            <button type="button" class="btn btn-outline-success" style="margin:10px 0px 10px 0px" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Dodaj użytkownika
            </button>
        <button type="button" class="btn btn-outline-warning" style="margin:10px 0px 10px 0px" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Wygeneruj raport
        </button>
        </div>
    <div class="col-3">
        <form class="d-flex" role="search">
            <button class="btn btn-outline-success" style="margin:10px 10px 10px 10px" type="submit">Szukaj</button>
            <input class="form-control me-2" style="margin:10px 0px 10px 0px" type="search" placeholder="Nazwa" aria-label="Search">
            
        </form>
    </div>
</div>

<div class="row justify-content-start">
    <div class="col-1">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Filtruj
        </button>
    </div>

    <div class="col-md-2">
        <select class="form-select" aria-label="Default select example">
            <option selected disabled>Wybierz płeć</option>
            <option value="1">Mężczyzna</option>
            <option value="2">Kobieta</option>
            <option value="3">Inne</option>
        </select>
    </div>

    <div class="col-md-2">
        <select class="form-select" aria-label="Default select example">
            <option selected disabled>Wybierz wiek</option>
            <option value="1"> 0 - 10</option>
            <option value="2">10 - 20</option>
            <option value="3">20 - 30</option>
            <option value="2">30 - 40</option>
            <option value="3">40 - 90</option>
        </select>
    </div>

    <div class="col-md-2">
        <select class="form-select" aria-label="Default select example">
            <option selected disabled>Prawo jazdy</option>
            <option value="1">Tak</option>
            <option value="2">Nie</option>
        </select>
    </div>

    <div class="col-md-2">
        <select class="form-select" aria-label="Default select example">
            <option selected disabled>Sortuj według</option>
            <option value="1">Imię</option>
            <option value="2">Nazwisko</option>
        </select>
    </div>
    
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Imie i Nazwisko</th>
            <th scope="col">Data urodzenia</th>
            <th scope="col">Wiek</th>
            <th scope="col">Płeć</th>
            <th scope="col">Prawo jazdy</th>

        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                <th scope="row"><a asp-action="Details" asp-controller="Home" asp-route-id="@user.UserId">@user.DisplayName</a></th>
                <td>@user.BirthDate</td>
                <td>@user.Age</td>
                <td>@user.Gender</td>
                <td>Tak</td>
            </tr>
        }      
    </tbody>
</table>


@*<form method="post">
    <div id="key-value-pairs">
        <div>
            <label for="Key">Key:</label>
            <input type="text" id="Key" name="Key" required />
            <label for="Value">Value:</label>
            <input type="text" id="Value" name="Value" required />
        </div>
    </div>
    <div>
        <button type="button" onclick="addKeyValuePair()">Add Key-Value Pair</button>
    </div>
    <div>
        <input type="submit" value="Add to Dictionary" />
    </div>
</form>


<form asp-action="Index" asp-controller="Home" method="post">
    @Html.AntiForgeryToken()

    <!-- ... -->
</form>*@
